* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.page-actions-cont {
  height: 3rem;
  background-color: #218c74;
  display: flex;
  align-items: flex-end;
}

.cellprops-actions-cont {
  height: 3rem;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

/* cell prop actions container ke ander jo bhi elements hai unko yeh styles apply hoge */
/* because every element inside the cellprops actions cont is a span then we cannot set its margin and padding so we change its display to inline block */
.cellprops-actions-cont > * {
  display: inline-block;
  margin-right: 1rem;
}


.cellprops-actions-cont > select {
  outline: none;
  border-radius: 100px;
  border: none;
}

.font-family-prop {
  padding: 0.2rem;
  outline: none;
  border-radius: 2px;
  border: none;
}

.font-size-prop {
  padding: 0.2rem;
  outline: none;
  border-radius: 2px;
  border: none;
}

.formula-actions-cont {
  height: 3rem;
  background-color: lightcyan;
}

.sheet-actions-cont {
  height: 3rem;
  background-color: lightsalmon;
}

.grid-cont {
  height: calc(100vh - 3rem - 3rem - 3rem - 3rem);
}

.page-action {
  margin: 0.5rem;
  color: aliceblue;
}
